<h1>Sign in</h1>

    <%= form_for(:session, url: sessions_path) do |f| %>

        <p>
            <%= f.label :email %>
            <%= f.text_field :email %><br>
        </p>

        <p>
            <%= f.label :password %>
            <%= f.password_field :password %>
        </p>

        <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>

<% end %>
